<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
    http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">

    <!-- Add Student -->
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>com.hostel.servlet.AddStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>

    <!-- Update Student -->
    <servlet>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <servlet-class>com.hostel.servlet.UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <url-pattern>/StudentUpdate</url-pattern>
    </servlet-mapping>

    <!-- Delete Student -->
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>com.hostel.servlet.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet</url-pattern>
    </servlet-mapping>

    <!-- Display Students -->
    <servlet>
        <servlet-name>DisplayStudentsServlet</servlet-name>
        <servlet-class>com.hostel.servlet.DisplayStudentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayStudentsServlet</servlet-name>
        <url-pattern>/DisplayStudentsServlet</url-pattern>
    </servlet-mapping>

    <!-- Report -->
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>com.hostel.servlet.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>

    <!-- Welcome Page -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>